#footer {
    padding:2.1875em 0; /* 35/16 */

    p {
        color:#f1dab1;
        font:700 0.875em/1.28571428571429em 'Open Sans', sans-serif; /* 14/16 18/14 */
        margin:0;
        padding:0;
    }

    a {
        color:#f1dab1;
        text-decoration:underline;
    }
}